@model contact.ViewModels.CollectionsViewModel
@using System.Text.Json
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/add.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/ggg.css" rel="stylesheet" />
<h1>Vetka</h1>

<div class="mb-5 text-center">
    @if (Model.tags.Count != 0)
    {
        <h4>@Localizer["Tags"]</h4>
    }
    @foreach (var tag in Model.tags)
    {
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle mx-1 my-1 @if (Context.Request.Cookies["theme"] == "dark") {@: btn-primary
                                                        } else {@:btn-success
                                                                } " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    #@tag.Tag
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var item in tag.ItemId.Split(","))
                    {
                        if (item != "")
                        {
                            <a class="dropdown-item" asp-controller="Items" asp-action="Item" asp-route-id="@item.Split('+')[0]">@Localizer["Item"] @item.Split('+')[1]</a>
                        }
                    }
                </div>
            </div>
    }
</div>
<div class="container my-5">
    <div class="row justify-content-center">
        @foreach (var collection in Model.SortedCollections)
        {
            <div class="card mx-3 my-3 shadow align-self-start" style="width: 20rem; max-height:700px; @if (Context.Request.Cookies["theme"] == "dark") {@:background:rgb(21,46,77);
                                                        } ">
                @if (collection.Img != null)
                {<img height="180" width="100%" class="rounded mt-1" src="@collection.Img" />}
                <div class="card-body" style="overflow: hidden; max-height:300px;">
                    <h1>@collection.Topic</h1>
                    <h3>@Localizer[collection.Theme]</h3>
                    <p><markdown>@collection.Description</markdown></p>
                </div>
                <div class="card-footer bg-transparent justify-content-between">
                    <form asp-controller="Items" asp-action="CollectionsItems" asp-route-Id="@collection.Id">
                        <button type="submit" class="btn btn-dark text-light" name="Id" value="@collection.Id">
                            @Localizer["Items"]:   <span class="badge badge-light">@collection.Item.Count()</span>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
@if (Model.Items.Count() > 0)
{<h3 class="text-center">@Localizer["LItems"]</h3>}

<div class="row my-5 shadow mx-auto" style="max-width:800px;@if (Context.Request.Cookies["theme"] == "dark") {@:background:rgb(21,46,77);
                                                        }">
    <div class="col-4">
        <div id="list-example" class="list-group">
            @for (int i = 0; i < 5; i++)
            {
                if (Model.Items.Count() > i)
                {
                    <a class="list-group-item btn-dark list-group-item-action text-center text-truncate" href="#list-item-@i">@Model.Items.ElementAt(i).Name</a>
                }
            }
        </div>
    </div>
    <div class="col-8">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example" style="max-height:500px; overflow-y:auto;">
            @for (int i = 0; i < 5; i++)
            {
                if (Model.Items.Count() > i)
                {
                    <div class="border-bottom border-dark">
                        <h4 id="list-item-@i">@Model.Items.ElementAt(i).Name</h4>
                        @if (Model.Items.ElementAt(i).Img != null)
                        {<img style="max-height:250px; max-width:100%;" class="rounded mt-1" src="@Model.Items.ElementAt(i).Img" />}
                        @foreach (var fields in JsonSerializer.Deserialize<Dictionary<string, string[]>>(Model.Items.ElementAt(i).Fields))
                        {
                            if (fields.Value.Length != 0)
                            {
                                for (int j = 0; j < fields.Value.Length; j+=2)
                                {
                                    <p>
                                        <b>@fields.Value.ElementAt(j):</b>@if (fields.Key == "bool")
                                        {<input type="checkbox" @if (fields.Value.ElementAt(j + 1) == "on") { @: checked
                                                } disabled />}
                                    </p>
                                    if (fields.Key != "bool")
                                    {<p>@fields.Value.ElementAt(j + 1)</p>}
                            }
                        }
                    }
                        <form asp-controller="Items" asp-action="Item" asp-route-Id="@Model.Items.ElementAt(i).Id" class="text-center">
                            <button type="submit" class="btn btn-dark text-light mb-2">
                                @Localizer["VItem"]
                            </button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</div>


